* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cover {
  height: 100vh;
  background: url('./images/cover-img.jpg') no-repeat;
}

.nav-bar {
  display: flex;
  color: #fff;
  justify-content: center;
}

.nav-bar li {
  list-style: none;
  padding: 20px 20px 5px 20px;
  margin: 0 20px;
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 2px solid orange;
  cursor: pointer;
}
